@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #725142;
  --secondary-color: #fceedd;
  --bg-color: #fffaf5;
  --icon-color: #ee8664;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Kufam", sans-serif;
  direction: rtl;
  background: white;
  min-height: 100vh;
}
/* تخصيص شريط التمرير للمتصفحات التي تدعم WebKit (مثل Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* عرض شريط التمرير */
}

::-webkit-scrollbar-track {
  background: #725142; /* لون خلفية التراك */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ee8664, #ee8664); /* تدرج لوني */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ee8664, #ee8664); /* لون مختلف عند التحويم */
}

